# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# ignore package sources
*/**/package

# ignore packages
*/**/*.tar.zst

# Ignore everything but gitignore
/**
!/.gitignore

# root project
!/LICENSE
!/README
!/arch-builder.sh
!/lib.sh

# builder
!/.builder
!/.builder/**
