# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Ignore everything but gitignore
/**
!/.gitignore

# root project
!/LICENSE
!/README
!/version.txt

# binaries
!/.bin
!/.bin/**

# docker build context
!/.context
!/.context/**
